.dialog-main{
  position: fixed;
  height: 100%;
  min-width: 320px;
  max-width: 640px;

  .dialog-wrap{
    background: rgba(42, 36, 39, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10000;
    -webkit-animation-name: showBg;
    -moz-animation-name: showBg;
    -o-animation-name: showBg;
    animation-name: showBg;
    -webkit-animation-duration: 500ms;
    -moz-animation-duration: 500ms;
    -o-animation-duration: 500ms;
    animation-duration: 500ms;
  }

  .dialog-window{
    background: #fff;
    width: 95%;
    height: 206px;
    z-index: 10010;
    top: 50%;
    left: 50%;
    border-radius: 6px;
    border-bottom: 1px solid #ddd;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


    .dialog-head{
      height: 38px;
      width: 100%;
      text-align: center;
      border-bottom: 1px solid #ddd;

      .dialog-title{
        color: #000;
        font-weight: bold;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        margin-left: 10px;
      }
    }

    .dialog-middle{
      height: 120px;
      background: #fff;
      position: relative;

      .dialog-content-wrap{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;

        span{
          color: #000;
        }
      }
    }

    .dialog-bottom{
      height: 48px;
      border-top: 1px solid #ddd;
      overflow:hidden;
    }

    .dialog-btn{
      height: 48px;
      font-size: 14px;
      text-align: center;
      line-height: 48px;
      cursor: pointer;
      color: #888;
    }

    .dialog-btn-selected{
      border-left: 1px solid #eee;
      color: #000;
    }
  }
}

@keyframes showBg {
  0% {
    background: transparent;
  }

  80% {
    background: rgba(42, 36, 39, 0.7);
  }
}

@keyframes showWindow {
  0% {
    opacity: 0;
  }

  20%{
    opacity: 1;
  }
}