/**
 * 主界面样式
*/
.main-splash-parent{
}

.main-splash-parent img{
    width:259px;
    height: 278px;
}
/* -------------------------- main ---------------------- */
.main-section{
    background: #EEEEEE;
}
/* -------------------------- head ---------------------- */
.main-head{
    height: 46px;
    background: #00C5E6;
    position: fixed;
    min-width: 320px;
    max-width: 640px;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index:1000;
}

.main-head-space{
    height: 46px;
}

.main-head .main-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;
    color: #fff;
    padding-left: 10px;

    width: 90%;
    float: left;
}

.main-head .main-setting{
    width: 10%;
    float: left;
    padding-right: 10px;
    text-align: right;
    line-height: 50px;
}

.main-setting img{
    width: 20px;
    height: 20px;
}

/* -------------------------- ads ---------------------- */
.main-ads{
    height: 114px;
}

.swipe{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.swipe .swipe-wrap {
    overflow: hidden;
    position: relative;
}



.swipe .swipe-wrap .wrap {
    max-width: 640px;
    height: 114px;
    display: block;
    margin: 0;
    position: relative
}

.swipe-wrap > figure {
    float: left;
    width: 100%;
    position: relative;
}

.swipe .swipe-wrap  .image {
    display: block;
    margin: 0;
    height: 114px;
}

.swipe .swipe-position{
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.swipe-position li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #ECECEC;
    margin: 0 2px;
    cursor: pointer
}

.swipe-position li.on {
    box-shadow: inset 0 1px 3px -1px #fff,0 1px 2px rgba(0,0,0,.3);
    background-color: #fff;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#EBE4E1));
    background-image: -webkit-linear-gradient(top,#fff,#EBE4E1);
    background-image: -moz-linear-gradient(top,#fff,#EBE4E1);
    background-image: -ms-linear-gradient(top,#fff,#EBE4E1);
    background-image: -o-linear-gradient(top,#fff,#EBE4E1);
    background-image: linear-gradient(top,#fff,#EBE4E1)
}
/* -------------------------- 视频分类 ---------------------- */
.main-cgy-section{
    background: #fff;
    margin-top: 6px;
}

.main-ads+.main-cgy-section{
    margin-top: 0;
}

.margin-top0{
    margin-top: 0;
}


.main-cgy-head{
    height: 35px;
    overflow: hidden;
}

.main-cgy-head .main-cgy-icon{
    float: left;
    margin-top: 8px;
    padding: 0 5px;
    text-align: right;
}

.main-cgy-icon img{
    height: 18px;
    width: 18px;
}

.main-cgy-head .main-cgy-title{
    float: left;
    width: 70%;

    font-size: 14px;
    color: #000;
    line-height: 35px;
}

.main-cgy-head .main-cgy-more{
    float: right;
    width: 20%;
    font-size: 12px;
    color: #494342;
    line-height: 35px;
    text-align: right;
    padding-right: 8px;
}

.main-video-wrapper{
    overflow: hidden;
}

.main-video-item{
    float: left;
    height: 155px;
}

.main-video-item .video-item-image{

}

.video-item-image img{
    height:117px;
    width: 100%;
}

.main-video-item .video-item-bottom{
    height: 38px;
}

.video-item-bottom .video-item-title{
    width: 80%;
    float: left;
    line-height: 30px;
    font-size: 12px;
    padding-left: 5px;
 }

.video-item-bottom .video-item-link{
    width: 20%;
    float: left;
    text-align: right;
    font-size: 12px;
    line-height: 30px;

    .video-item-download, .video-item-clock{
        color: #494342;

        span{
            border-left: 1px solid #E3E3E3;
            padding-left: 5px;
        }
    }
}

.video-item-link img{
    height: 14px;
    width: 14px;
    margin-top: 8px;
    margin-left: 6px;
}
/* -------------------------- footer ---------------------- */
.main-footer-space{
    height: 56px;
}

.main-footer{
    position: fixed;
    height: 56px;
    overlfow: hidden;

    min-width: 320px;
    max-width: 640px;
    bottom:0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index:1000;
}

.menu-wrap{
    box-shadow: 0 -1px 1px #38484E;
}

.main-footer .main-menu{
    height: 100%;
    background: #495F68;
    border-right: 1px solid #43545E;
    float:left;
    font-size: 10px;
    color: #fff;
}

.main-footer .main-menu:last-child{
    border-right: none;
}

.main-footer .main-menu.selected{
    background: #00C5E6;
    color: #FF0000;
}

.main-menu .main-menu-icon{
    height: 30px;
    text-align: center;
    padding-top: 8px;
}

.main-menu-icon img{
    height: 20px;
    width: 20px;
}

.main-menu .main-menu-title{
    height: 20px;
    text-align: center;
    line-height: 20px;
}

