<div class="l-w-percent100 health-wrapper">
    <div class="health-item" v-for="video in videos">
        <template v-if="videos.indexOf(video) % 2 === 0">
            <div class="health-item-mess l-w-percent40">
                <div @clock="setTime(video.id)" class="health-item-time"><span>{{video.clock}}</span></div>
                <div class="health-item-title"><span>{{video.name}}</span></div>
            </div>
            <div class="health-item-video l-w-percent60">
                <img :src="video.picture">
            </div>
        </template>
        <template v-if="videos.indexOf(video) % 2 === 1">
            <div class="health-item-video l-w-percent60">
                <img :src="video.picture">
            </div>
            <div class="health-item-mess l-w-percent40">
                <div @clock="setTime(video.id)" class="health-item-time"><span>{{video.clock}}</span></div>
                <div class="health-item-title"><span>{{video.name}}</span></div>
            </div>
        </template>
    </div>
</div>
