<div class="l-w-percent100 health-wrapper">
    <div class="health-item" v-for="clock in clocks">
        <template v-if="clocks.indexOf(clock) % 2 === 0">
            <div class="health-item-mess l-w-percent40">
                <div @clock="setTime(clock.id)" class="health-item-time"><span>{{clock.time}}</span></div>
                <div class="health-item-title"><span>{{clock.name}}</span></div>
            </div>
            <div class="health-item-video l-w-percent60">
                <img :src="clock.img">
            </div>
        </template>
        <template v-if="clocks.indexOf(clock) % 2 === 1">
            <div class="health-item-video l-w-percent60">
                <img :src="clock.img">
            </div>
            <div class="health-item-mess l-w-percent40">
                <div @clock="setTime(clock.id)" class="health-item-time"><span>{{clock.time}}</span></div>
                <div class="health-item-title"><span>{{clock.name}}</span></div>
            </div>
        </template>
    </div>
</div>
