<div class="l-w-percent100 main-ads">
    <div id="slider" class="swipe" style="visibility: visible;">
        <div class="swipe-wrap">
            <figure>
                <div class="wrap">
                    <div class="image" style="background:url(assets/img/main/ads.png) center no-repeat;background-size: cover"> </div>
                </div>
            </figure>
            <figure>
                <div class="wrap">
                    <div class="image" style="background:url(assets/img/main/ads.png) center no-repeat;background-size: cover"> </div>
                </div>
            </figure>
            <figure>
                <div class="wrap">
                    <div class="image" style="background:url(assets/img/main/ads.png) center no-repeat;background-size: cover"> </div>
                </div>
            </figure>
            <figure>
                <div class="wrap">
                    <div class="image" style="background:url(assets/img/main/ads.png) center no-repeat;background-size: cover"> </div>
                </div>
            </figure>
        </div>
        <nav>
            <ul id="position" class="swipe-position">
                <li class="on"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </nav>
    </div>
</div>
<div class="l-w-percent100 main-cgy-section" v-for="category in categories">
    <div class="main-cgy-head l-w-percent100">
        <div class="main-cgy-icon">
            <img :src="category.img">
        </div>
        <div class="main-cgy-title">
            <span>{{category.name}}</span>
        </div>
        <div class="main-cgy-more">
            <span>更多</span>
        </div>
    </div>
    <div class="main-video-wrapper l-w-percent100">
        <div class="main-video-item l-padding5 l-col-2" v-for="video in category.videos">
            <div class="video-item-image" @click="playVideo(category.id, video.id)">
                <img :src="video.picture">
            </div>
            <div class="video-item-bottom">
                <div class="video-item-title">
                    <span>{{video.name}}</span>
                </div>
                <div class="video-item-link">
                    <div class="video-item-download" @click="downloadVideo(category.id, video.id)"><span>下载</span></div>
                </div>
            </div>
        </div>
    </div>
</div>